
@{
    ViewData["Title"] = "Thong tin sinh vien";
}
<div class="alert alert-info">
    <h1>Thong tin sinh vien</h1>
    <hr />
    <p>Ma sinh vien: 2310900036</p>
    <p>Ho va ten: Le Phan Trung Hieu </p>
    <p>Lop:K23CNT1</p>
    <p>Email: lephantrunghieu123@gmail.com</p>
    <p>Dien thoai: 0866569267</p>
</div>


