@{
    ViewData["Title"] = "Thong tin sinh vien";
}
<h1>@ViewData["Title"]</h1>

<div class="alert alert-danger">
    <p>Ma sinh vien: 2310900036</p>
    <p>Ho ten: Le Phan Trung Hieu</p>
    <p>Biet danh: @ViewBag.about</p>
    <p>Lop:K23CNT1-NET</p>
    <p>EmaiL: lephantrunghieu555@gmail.com</p>
    <p>Dien thoai: 0866.569.267</p>
</div>
