<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - LpthLesson03 - <a asp-area="" asp-controller="LpthHome" asp-action="LpthAbout">About</a>
    </div>
</footer>
