@{
    ViewData["Title"] = "Thong tin sinh vien";
}
<h1>@ViewData["Title"]</h1>

<div class="alert alert-danger">
    <p>MSV: <a href="#"></a>
    <p>Ho va ten: Le Phan Trung Hieu </p>
    <p>Email: lephantrunghieu@gmail.com</p>
    <p>SDT: 0123456789</p>
    <p>Lop: K23CNT1</p>
</div>
